extends base

block content
    main.main
        .card-container
            each tour in tours
                - let {name, duration, maxGroupSize, difficulty, ratingsAverage, ratingsQuantity, price, summary, description, imageCover, startDates, slug}  = tour; 
                .card 
                    .card__header
                        .card__picture
                            .card__picture-overlay 
                            img.card__picture-img(src=`img/tours/${imageCover}`, alt=`${name}`)
                        h3.heading-tertirary   
                            span #{name}

                    .card__details
                        h3.card__sub-heading #{difficulty} #{duration}-day Tour
                        p.card__text #{summary}

                        .card__data
                            svg.card__icon
                                use(xlink:href="img/icons.svg#icon-map-pin")
                            span Banff , Canada
                        .card__data
                            svg.card__icon
                                use(xlink:href="img/icons.svg#icon-calendar")
                            - var options = {  month: 'long', day: 'numeric', year: 'numeric' };
                            span #{startDates[0].toLocaleDateString('en-US', options)}
                        .card__data
                            svg.card__icon
                                use(xlink:href="img/icons.svg#icon-flag")
                            span 3 stops
                        .card__data
                            svg.card__icon
                                use(xlink:href="img/icons.svg#icon-user")
                            span #{maxGroupSize} people
                    .card__footer 
                        p 
                            span.card__footer-value $#{price}
                            | 
                            span.card__footer-text per person
                        p.card__ratings
                            span.card__footer-value #{ratingsAverage}
                            | 
                            span.card__footer-text rating (#{ratingsQuantity})

                        a.btn.btn--green.btn--small(href=`/tour/${slug}`) Details